[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binio = "*"
thoth-common = "*"
thoth-messaging = "*"
click = "*"
paho-mqtt = "*"

[dev-packages]
bandit = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
