[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
binio = "*"
thoth-common = "*"
thoth-messaging = "*"

[dev-packages]
bandit = "*"

[requires]
python_version = "3.9"
